<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.9.2 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9193a11d94bc3637f3920f021cc3d5c9:22f41e2bf69433c2d9dd3bdaa446f381:4b94ccd0cb81523ac130fa347d6ec10f$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>knight.1.png</string>
                <key>size</key>
                <string>{456,86}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Knight10.png</string>
                        <key>spriteOffset</key>
                        <string>{37,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{130,154}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{55,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Knight4.png</string>
                        <key>spriteOffset</key>
                        <string>{37,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{130,154}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{55,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Knight1.png</string>
                        <key>spriteOffset</key>
                        <string>{37,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{130,154}</string>
                        <key>textureRect</key>
                        <string>{{58,1},{53,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Knight7.png</string>
                        <key>spriteOffset</key>
                        <string>{38,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{130,154}</string>
                        <key>textureRect</key>
                        <string>{{58,1},{53,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Knight3.png</string>
                        <key>spriteOffset</key>
                        <string>{20,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{130,154}</string>
                        <key>textureRect</key>
                        <string>{{113,1},{77,82}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Knight9.png</string>
                        <key>spriteOffset</key>
                        <string>{20,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{130,154}</string>
                        <key>textureRect</key>
                        <string>{{113,1},{77,82}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Knight12.png</string>
                        <key>spriteOffset</key>
                        <string>{29,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{130,154}</string>
                        <key>textureRect</key>
                        <string>{{192,1},{72,80}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Knight6.png</string>
                        <key>spriteOffset</key>
                        <string>{29,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{130,154}</string>
                        <key>textureRect</key>
                        <string>{{192,1},{72,80}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Knight2.png</string>
                        <key>spriteOffset</key>
                        <string>{27,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{130,154}</string>
                        <key>textureRect</key>
                        <string>{{266,1},{94,65}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Knight8.png</string>
                        <key>spriteOffset</key>
                        <string>{27,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{130,154}</string>
                        <key>textureRect</key>
                        <string>{{266,1},{94,65}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Knight11.png</string>
                        <key>spriteOffset</key>
                        <string>{34,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{130,154}</string>
                        <key>textureRect</key>
                        <string>{{362,1},{93,61}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Knight5.png</string>
                        <key>spriteOffset</key>
                        <string>{34,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{130,154}</string>
                        <key>textureRect</key>
                        <string>{{362,1},{93,61}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
